In [30]:
import math
import os
import pandas as pd

# Details about my project.

This Project notebook is a continuation of the daily_data_usage_analysis project.
Here I am going to demonstrate the size of data generated each day 

I am going to continue with the obtained values from my previous(part-1) project,Although there is room for improvement.

The outcomes i am going to establish are:
-> The disk capacity required to store this data
-> No of disks, each disk size
-> power required
-> no of servers -> how many CPUs -> how many users per Cpu -> response time

In [31]:
df=pd.read_csv("List of Countries by number of Internet Users - Sheet1.csv")
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 6 columns):
Country or Area    215 non-null object
Internet Users     215 non-null object
Population         215 non-null object
Rank               215 non-null int64
Percentage         215 non-null object
Rank.1             215 non-null object
dtypes: int64(1), object(5)
memory usage: 10.2+ KB

,Country or Area,Internet Users,Population,Rank,Percentage,Rank.1
count,215,215,215,215.000000,215,215
unique,215,215,215,NaN,210,210
top,Laos,"461,347,554","18,269,868",NaN,37.60% (2012),-
freq,1,1,1,NaN,2,6
mean,NaN,NaN,NaN,108.000000,NaN,NaN
std,NaN,NaN,NaN,62.209324,NaN,NaN
min,NaN,NaN,NaN,1.000000,NaN,NaN
25%,NaN,NaN,NaN,54.500000,NaN,NaN
50%,NaN,NaN,NaN,108.000000,NaN,NaN
75%,NaN,NaN,NaN,161.500000,NaN,NaN
max,NaN,NaN,NaN,215.000000,NaN,NaN

Here except for Rank ,all of the data variables are objects,Hence they need to be formatted,

It is done by a data formatting function.

In [32]:
def change_type(obj):
    data_object=[]
    for each in obj:
        newVar=''
        for var in each:
            if(var!=','):
                newVar+=var
        newVar=int(newVar)
        data_object.append(newVar)
    obj=data_object
    return obj
obj=change_type(df['Internet Users'])
df['Internet Users']=obj
df['Internet Users'].describe()

count    2.150000e+02
mean     1.703882e+07
std      6.508647e+07
min      3.610000e+02
25%      3.405135e+05
50%      2.505948e+06
75%      8.887351e+06
max      7.653679e+08
Name: Internet Users, dtype: float64

In [33]:
total_internet_users=sum(df['Internet Users'])
print(total_internet_users)

3663346115

In [59]:
data_per_minute=3.8  #in MB
total_data_per_minute=total_internet_users*data_per_minute
print(total_data_per_minute)

13920715237.0

Now we have the details about the data generated in a minute worldwide!
Lets begin to get our answers!<br>
    &emsp;1.Before I start to answer, lets know what is a server, a cpu, a disk collectively.<br>
    &emsp;2.What is a Computer and What is a server?<br>
    &emsp;3.Both are the same, but a server CPU is more powerful than a normal Desktop computer CPU in our homes.Because the server is used to serve millions of users(clients) the data or information.A server can be a web server, data server, email server etc.,.<br>
    &emsp;4.The Cpu in our desktops uses intel i5,i7 etc.,. A server CPU has 2 or more processors like intel xeon etc.,.<br>
    &emsp;5.Disk is the secondary storage device used in a computer.The maximum disk capacity we have achieved now in 2020 is 16TB(terabytes).So a Desktop Disk can be 16TB.But the CPU should support the easy access of data from the Disks without any data loss or it will damage the disk.<br>
    &emsp;6.Hence maximum disk capacity of a household desktop is 16TB.A server stores enormous amount of data working very efficiently 24 hours a day. So it is obvious that there is the probability of disk damage.<br>
    &emsp;7.To prevent data loss RAID 5(redundancy array of independent disks), which stores additional set of hardisks to store the data and maintains a parity to acquire lost data.<br>
    &emsp;8.Lets for instance assume we use 4 hard-disk drives ,where one disk will be utilized as a parity hence 3 disk of data in server.Hence a server disk capacity will be 16x3 TB i.e.,. 48TB.<br>
    &emsp;9.A server uses 500W to 1200W power in an hour.On an average 850W power is used by a server in an hour.Hence 14W power is used by a server per minute.<br>
    &emsp;10.The data used generated in a minute worldwide is 13 billion MB, which is 13,920 TB.

In [60]:
server_capacity=16 #in TB
total_data_per_minute/=1000000  #in TB
power_of_server_per_minute=14   #in Watts
#we compute servers required to store this data.

required_server_per_minute=math.ceil(total_data_per_minute/server_capacity)
total_power_per_minute=required_server_per_minute*power_of_server_per_minute
total_number_of_disks=required_server_per_minute*4    #in TB
each_disk_size=16   #in TB

print("The amount of data generated every minute is:",total_data_per_minute,"TB")
print("Disk Capacity will be at maximum:",server_capacity,"TB")
print("Total number of servers needed to store this data:",required_server_per_minute)
print("Total number of disks required:",total_number_of_disks)
print("Power required to run these servers:",total_power_per_minute,"W, in terms of watt/hour:",total_power_per_minute//60,"w/h")

The amount of data generated every minute is: 13920.715237 TB
Disk Capacity will be at maximum: 16 TB
Total number of servers needed to store this data: 871
Total number of disks required: 3484
Power required to run these servers: 12194 W, in terms of watt/hour: 203 w/h

1.Number of users per a server will be same as the number of requests/operations that can be performed in a server.There will be 65536 ports(ports determine the task being performed in the server).<br>

2.Hence,Number of users per server is 65536(at max).<br>
3.Response time is the time required to get request ans send the response.All of the data transfer through the switches,routers,servers,ports etc.,. takes place in just 0.1ms - 1000 ms in a responsive client - server application.
4.The response increases if the load is larger or the number of requests are higher.Also depending upon the bandwidth the response time increases.


More anlysis to be done....
Open to suggestions.........